<%include header.ejs%>

<script type="text/javascript">
    var Urlscorerecorddata = "/administrator/scorerecorddata";
	var UrlscorerecordTrans = "/administrator/scorerecordTrans"
    var ValidateMsg = " <span style='color:red'>必填</span>";
    var data = null;
    //var grid = null;
    $(function () {
        window['g'] = $("#grid").ligerGrid({
            columns:
            [{ display: '编号', name: 'objectId', align: 'center', width: '5%', isSort: true },
            { display: '记录时间', name: 'Recordtime', align: 'left', width: '20%', isSort: true },
			{ display: '用户编号', name: 'Userid', align: 'left', width: '20%', isSort: true },
			{ display: '用户名称', name: 'Username', align: 'left', width: '20%', isSort: true },
			{ display: '任务编号', name: 'Taskid', align: 'left', width: '20%', isSort: true },
			{ display: '任务名称', name: 'Taskname', align: 'left', width: '20%', isSort: true },
			{ display: '平台编号', name: 'Terraceid', align: 'left', width: '20%', isSort: true },
			{ display: '平台名称', name: 'Terracename', align: 'left', width: '20%', isSort: true },
			{ display: '广告类型', name: 'Adtype', align: 'left', width: '20%', isSort: true },
			{ display: '广告积分', name: 'Adpoint', align: 'left', width: '20%', isSort: true },
			{ display: '有效标识', name: 'Advalid', align: 'left', width: '20%', isSort: true },
			{ display: '记录IP', name: 'Recordip', align: 'left', width: '20%', isSort: true }],
            width: '98%',
            pageSizeOptions: [10, 30, 50],
            height: '97%',
            url: Urlscorerecorddata,
            //data: $.extend(true, {}, result),
            dataAction: 'local', //本地排序
            alternatingRow: false,
            rowHeight: 30,
            headerRowHeight: 30,
            isScroll: false,
            sortName: 'Recordtime',
            sortOrder: 'desc',
            toolbar: {
                items: [{ text: '增加', click: UrlscorerecordTrans, img: '/Content/LigerUI/icons/add.gif' }] }
            });
    });

    function search() {
        var key = $("#txtSelect").val();
        var grid = window['g'];

        if (key == "") {
            grid.reload();
        }
        else {
            //grid.options.data = $.extend(true, {}, grid.Data);
            grid.loadData(getWhere(key));
        }
    }

    function getWhere(e) {
        var grid = window['g'];
        if (!grid) return null;

        var clause = function (rowdata, rowindex) {
            return rowdata.Username.toString().indexOf(e) > -1;
        };
        return clause;
    }

    function formPost(frmName, flags, f) {
        var validateIns;
        var validateRes;
        if (flags) {
            validateIns = { txtAddChname: { required: true } };
            validateRes = { txtAddChname: { required: ValidateMsg } };
        }
        else {
            validateIns = { txtModifyChname: { required: true } };
            validateRes = { txtModifyChname: { required: ValidateMsg } };
        }
        $(frmName).validate({
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: validateIns,
            messages: validateRes,
            debug: true,
            invalidHandler: function () {
                alert("操作失败");
            },
            submitHandler: function () {
                f();
            }
        });
    }

    function AddChannelModule() {
        if (!window.addWin) {
            window.addWin = $.ligerDialog.open({
                target: $("#winAdd"),
                height: 350,
                width: 500,
                title: "增加平台"
            });

            $("#btnCancel").click(function () {
                window.addWin.hide();
            });

            formPost("#frmAdd", true, function () {
                var chname = $("#txtAddChname").val();
                var grid = window['g'];
                var parms = { Terracename: chname };
                $.post(UrlAddChannelModule, parms, function (data) {
                    if (data.result) {
                        grid.reload();
                        window.addWin.hide();
                    } else {
                        alert(data.msg);
                    }
                });

            });

        } else {
            window.addWin.show();
        }
    }

    function ModifyChannelModule() {
        var ModifyDialog;
        var grid = window['g'];
        var row = grid.getSelectedRow();
        if (row == null) {
            alert("请选择一条数据");
            return;
        }

        $("#winModify").data("objectId", row.objectId);
        $("#winModify").data("Terracename", row.Terracename);

        $("#txtModifyChname").val($("#winModify").data("Chname"));

        if (!window.modifyWin) {
            window.modifyWin = $.ligerDialog.open({
                target: $("#winModify"),
                height: 350,
                width: 500,
                title: "修改平台"
            });

            $("#btnModifyCancel").click(function () {
                window.modifyWin.hide();
            });

            formPost("#frmModify", false, function () {
                var objectId = $("#winModify").data("objectId");
                var Terracename = $("#txtModifyChname").val();
                $.post(UrlModifyChannelModule, { objectId: objectId, Terracename: Terracename }, function (data) {
                    if (data.result) {
                        $("#grid").ligerGrid().reload();
                        window.modifyWin.hide();
                    } else {
                        alert(data.msg);
                    }
                });
            });

        } else {
            window.modifyWin.show();
        }
    }

    function DeleteChannelModule() {
        var grid = window['g'];
        var row = grid.getSelectedRow();
        if (row == null) {
            alert("请选择一条数据");
            return;
        }
        if (confirm("是否确定删除？")) {
            $.post(UrlDeleteChannelModule, { objectId: row.objectId }, function (data) {
                if (data.result) {
                    alert("删除成功！");
                    $("#grid").ligerGrid().reload();
                } else {
                    alert(data.msg);
                }
            });
        }
    }
</script>

<div id="search">
<table width="550px">
    <tr class="search-tr">
        <td width="15px"></td>
        <td class="search-td">用户名称：<input type="text" name="txtSelect" id="txtSelect" class="k-text-bg k-text-field" /></td>
        <td>&nbsp;&nbsp;<input class="liger-button" id="btnSelect" type="button" value="查询" onclick="search()" /></td>
    </tr>
</table>
</div>
<div id="grid"></div>

<div id="winAdd" style="display: none;">
  <form action="" method="post" id="frmAdd">
    <table class="tb" style="height: 200px;">
        <tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddChname" id="txtAddChname" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td colspan="2">
                <button type="submit" id="btnConfirm" class="liger-button m_7td">确定</button>
                <button type="reset" id="btnCancel" class="liger-button m_7td">取消</button>
            </td>
        </tr>
    </table>
</form>
</div>

<div id="winModify" style="display: none;">
<form action="" method="post" id="frmModify">
    <table class="tb" style="height: 200px;">
        <tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyChname" id="txtModifyChname" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td colspan="2">
                <button type="submit" id="btnModifyConfirm" class="liger-button m_7td">确定</button>
                <button type="button" id="btnModifyCancel" class="liger-button m_7td">取消</button>
            </td>
        </tr>
    </table>
</form>
</div>

<%include footer.ejs%>