<%include header.ejs%>

<script type="text/javascript">
    var Urltasksdata = "/administrator/tasksdata";
	var Urladdtasks = "/administrator/addtasks";
    var Urlmodtasks = "/administrator/modtasks";
    var Urldeltasks = "/administrator/deltasks";

    var Urlterraces = "/administrator/terracesdata";

    var ValidateMsg = " <span style='color:red'>必填</span>";
    var data = null;
    //var grid = null;
    $(function () {
        window['g'] = $("#grid").ligerGrid({
            columns:
            [{ display: '编号', name: 'objectId', align: 'center', width: '5%', isSort: true },
            { display: '任务名称', name: 'taskname', align: 'left', width: '20%', isSort: true },
			{ display: '副标题', name: 'subtitle', align: 'left', width: '20%', isSort: true },
			{ display: '是否启用', name: 'enable', align: 'left', width: '20%', isSort: true }],
            width: '98%',
            pageSizeOptions: [10, 30, 50],
            height: '97%',
            url: Urltasksdata,
            //data: $.extend(true, {}, result),
            dataAction: 'local', //本地排序
            alternatingRow: false,
            rowHeight: 30,
            headerRowHeight: 30,
            isScroll: false,
            sortName: 'taskname',
            sortOrder: 'desc',
            toolbar: {
                items: [{ text: '增加', click: AddModule, img: '/Content/LigerUI/icons/add.gif' }, { line: true },
                { text: '修改', click: ModifyModule, img: '/Content/LigerUI/icons/modify.gif' }, { line: true },
                { text: '删除', click: DeleteModule, img: '/Content/LigerUI/icons/delete.gif' }] }
            });
    });

    function search() {
        var key = $("#txtSelect").val();
        var grid = window['g'];

        if (key == "") {
            grid.reload();
        }
        else {
            //grid.options.data = $.extend(true, {}, grid.Data);
            grid.loadData(getWhere(key));
        }
    }

    function getWhere(e) {
        var grid = window['g'];
        if (!grid) return null;

        var clause = function (rowdata, rowindex) {
            return rowdata.taskname.toString().indexOf(e) > -1;
        };
        return clause;
    }

    function formPost(frmName, flags, f) {
        var validateIns;
        var validateRes;
        if (flags) {
            validateIns = { txtAddTaskname: { required: true } };
            validateRes = { txtAddTaskname: { required: ValidateMsg } };
        }
        else {
            validateIns = { txtModifyTaskname: { required: true } };
            validateRes = { txtModifyTaskname: { required: ValidateMsg } };
        }
        $(frmName).validate({
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: validateIns,
            messages: validateRes,
            debug: true,
            invalidHandler: function () {
                alert("操作失败");
            },
            submitHandler: function () {
                f();
            }
        });
    }

    function bindTerraces() {
        var options = {
            columns = [
                { display: '编号', name: 'objectId', align: 'center', width: '5%', isSort: true },
                { display: '渠道名称', name: 'terracename', align: 'left', width: '20%', isSort: true }
            ], switchPageSizeApplyComboBox: false,
                url: Urlterraces,
                dataAction: 'local',
                pageSize: 10,
                checkbox: false
            };
            return options;
    }

    function bindTerracesInfo(e)
    {
        $(e).ligerComboBox({
            width: 250,
            slide: false,
            selectBoxWidth: 500,
            selectBoxHeight: 240,
            valueField: 'terraceid',
            textField: 'terraceid',
            grid: bindTerraces(),
                condition: { fields: [{ name: 'terracename', label: '渠道名称', width: 90, type: 'text' }] }
        });
    }

    function AddModule() {
        if (!window.addWin) {
            window.addWin = $.ligerDialog.open({
                target: $("#winAdd"),
                height: 350,
                width: 500,
                title: "增加"
            });

            bindTerracesInfo("#txtAddTerraceid");

            $("#btnCancel").click(function () {
                window.addWin.hide();
            });

            formPost("#frmAdd", true, function () {
                var taskname = $("#txtAddTaskname").val();
                var subtitle = $("#txtAddSubtitle").val();
                var terraceid = $("#txtAddTerraceid").val();
                var terracename = $("#txtAddTerracename").val();
                var enable = $("#txtAddEnable").val();

                var grid = window['g'];
                var row = {taskname: taskname, subtitle: subtitle, terraceid: terraceid, terracename: terracename, Enable: enable};
                $.post(Urladdtasks, {data: row}, function (e) {
                    if (e.result) {
                        grid.reload();
                        window.addWin.hide();
                    } else {
                        alert(e.msg);
                    }
                });

            });

        } else {
            window.addWin.show();
        }
    }

    function ModifyModule() {
        var ModifyDialog;
        var grid = window['g'];
        var row = grid.getSelectedRow();
        if (row == null) {
            alert("请选择一条数据");
            return;
        }

        $("#winModify").data("objectId", row.objectId);
        $("#winModify").data("taskname", row.taskname);
		$("#winModify").data("subtitle", row.subtitle);
		$("#winModify").data("terraceid", row.terraceid);
		$("#winModify").data("terracename", row.terracename);
		$("#winModify").data("enable", row.enable);

        $("#txtModifyTaskname").val($("#winModify").data("taskname"));
		$("#txtModifySubtitle").val($("#winModify").data("subtitle"));
		$("#txtModifyTerraceid").val($("#winModify").data("terraceid"));
		$("#txtModifyTerracename").val($("#winModify").data("terracename"));
		$("#txtModifyEnable").val($("#winModify").data("enable"));

        if (!window.modifyWin) {
            window.modifyWin = $.ligerDialog.open({
                target: $("#winModify"),
                height: 350,
                width: 500,
                title: "修改"
            });

            $("#btnModifyCancel").click(function () {
                window.modifyWin.hide();
            });

            formPost("#frmModify", false, function () {
                var objectId = $("#winModify").data("objectId");
                var taskname = $("#txtModifyTaskname").val();
				var subtitle = $("#txtModifySubtitle").val();
				var terraceid = $("#txtModifyTerraceid").val();
				var terracename = $("#txtModifyTerracename").val();
				var enable = $("#txtModifyEnable").val();
				var row = {objectId: objectId, taskname: taskname, subtitle: subtitle, terraceid:terraceid, terracename:terracename, enable:enable};
                $.post(Urlmodtasks, { data: row }, function (e) {
                    if (e.result) {
                        $("#grid").ligerGrid().reload();
                        window.modifyWin.hide();
                    } else {
                        alert(e.msg);
                    }
                });
            });

        } else {
            window.modifyWin.show();
        }
    }

    function DeleteModule() {
        var grid = window['g'];
        var row = grid.getSelectedRow();
        if (row == null) {
            alert("请选择一条数据");
            return;
        }
        if (confirm("是否确定删除？")) {
            $.post(Urldeltasks, { data: row }, function (e) {
                if (e.result) {
                    alert("删除成功！");
                    $("#grid").ligerGrid().reload();
                } else {
                    alert(e.msg);
                }
            });
        }
    }
</script>

<div id="search">
<table width="550px">
    <tr class="search-tr">
        <td width="15px"></td>
        <td class="search-td">任务名称：<input type="text" name="txtSelect" id="txtSelect" class="k-text-bg k-text-field" /></td>
        <td>&nbsp;&nbsp;<input class="liger-button" id="btnSelect" type="button" value="查询" onclick="search()" /></td>
    </tr>
</table>
</div>
<div id="grid"></div>

<div id="winAdd" style="display: none;">
  <form action="" method="post" id="frmAdd">
    <table class="tb" style="height: 200px;">
        <tr class="tr">
            <td class="td">任务名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddTaskname" id="txtAddTaskname" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">副标题：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddSubtitle" id="txtAddSubtitle" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">平台编号：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddTerraceid" id="txtAddTerraceid" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddTerracename" id="txtAddTerracename" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">是否启用：</td>
            <td align="left" class="inputd"><input type="text" name="txtAddEnable" id="txtAddEnable" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td colspan="2">
                <button type="submit" id="btnConfirm" class="liger-button m_7td">确定</button>
                <button type="reset" id="btnCancel" class="liger-button m_7td">取消</button>
            </td>
        </tr>
    </table>
</form>
</div>

<div id="winModify" style="display: none;">
<form action="" method="post" id="frmModify">
    <table class="tb" style="height: 200px;">
    <tr class="tr">
            <td class="td">任务名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyTaskname" id="txtModifyTaskname" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">副标题：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifySubtitle" id="txtModifySubtitle" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">平台编号：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyTerraceid" id="txtModifyTerraceid" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyTerracename" id="txtModifyTerracename" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td class="td">是否启用：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyEnable" id="txtModifyEnable" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td colspan="2">
                <button type="submit" id="btnModifyConfirm" class="liger-button m_7td">确定</button>
                <button type="button" id="btnModifyCancel" class="liger-button m_7td">取消</button>
            </td>
        </tr>
    </table>
</form>
</div>

<%include footer.ejs%>