<%include header.ejs%>

<script type="text/javascript">
    var Urlmemberinfodata = "/administrator/memberinfodata";
	var Urlmodmemberinfo = "/administrator/modmemberinfo"
    var ValidateMsg = " <span style='color:red'>必填</span>";
    var data = null;
    //var grid = null;
    $(function () {
        window['g'] = $("#grid").ligerGrid({
            columns:
            [{ display: '编号', name: 'objectId', align: 'center', width: '5%', isSort: true },
            { display: '用户名称', name: 'username', align: 'left', width: '20%', isSort: true },
			{ display: '用户密码', name: 'password', align: 'left', width: '20%', isSort: true },
			{ display: '用户积分', name: 'point', align: 'left', width: '20%', isSort: true },
			{ display: '注册IP', name: 'registerip', align: 'left', width: '20%', isSort: true },
			{ display: '登录IP', name: 'loginip', align: 'left', width: '20%', isSort: true },
			{ display: '设备标识', name: 'devicetoken', align: 'left', width: '20%', isSort: true },
			{ display: '登录时间', name: 'lastlogintime', align: 'left', width: '20%', isSort: true },
			{ display: '注册时间', name: 'registertime', align: 'left', width: '20%', isSort: true }],
            width: '98%',
            pageSizeOptions: [10, 30, 50],
            height: '97%',
            url: Urlmemberinfodata,
            //data: $.extend(true, {}, result),
            dataAction: 'local', //本地排序
            alternatingRow: false,
            rowHeight: 30,
            headerRowHeight: 30,
            isScroll: false,
            sortName: 'lastlogintime',
            sortOrder: 'desc',
            toolbar: {
                items: [{ text: '修改', click: ModifyModule, img: '/Content/LigerUI/icons/modify.gif' }] }
            });
    });

    function search() {
        var key = $("#txtSelect").val();
        var grid = window['g'];

        if (key == "") {
            grid.reload();
        }
        else {
            //grid.options.data = $.extend(true, {}, grid.Data);
            grid.loadData(getWhere(key));
        }
    }

    function getWhere(e) {
        var grid = window['g'];
        if (!grid) return null;

        var clause = function (rowdata, rowindex) {
            return rowdata.username.toString().indexOf(e) > -1;
        };
        return clause;
    }

    function formPost(frmName, flags, f) {
        var validateIns;
        var validateRes;
        if (flags) {
            validateIns = { txtAddUsername: { required: true } };
            validateRes = { txtAddUsername: { required: ValidateMsg } };
        }
        else {
            validateIns = { txtModifyUsername: { required: true } };
            validateRes = { txtModifyUsername: { required: ValidateMsg } };
        }
        $(frmName).validate({
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            rules: validateIns,
            messages: validateRes,
            debug: true,
            invalidHandler: function () {
                alert("操作失败");
            },
            submitHandler: function () {
                f();
            }
        });
    }

    function ModifyModule() {
        var ModifyDialog;
        var grid = window['g'];
        var row = grid.getSelectedRow();
        if (row == null) {
            alert("请选择一条数据");
            return;
        }

        $("#winModify").data("objectId", row.objectId);
        $("#winModify").data("username", row.username);
		$("#winModify").data("password", row.password);
		$("#winModify").data("point", row.point);
		$("#winModify").data("registerip", row.registerip);
		$("#winModify").data("loginip", row.loginip);
		$("#winModify").data("devicetoken", row.devicetoken);
		$("#winModify").data("lastlogintime", row.lastlogintime);
		$("#winModify").data("registertime", row.registertime);

        $("#txtModifyUsername").val($("#winModify").data("username"));
		$("#txtModifyPassword").val($("#winModify").data("password"));
		$("#txtModifyPoint").val($("#winModify").data("point"));
		$("#txtModifyRegisterip").val($("#winModify").data("registerip"));
		$("#txtModifyLoginip").val($("#winModify").data("loginip"));
		$("#txtModifyDevicetoken").val($("#winModify").data("devicetoken"));
		$("#txtModifyLastlogintime").val($("#winModify").data("lastlogintime"));
		$("#txtModifyRegistertime").val($("#winModify").data("registertime"));

        if (!window.modifyWin) {
            window.modifyWin = $.ligerDialog.open({
                target: $("#winModify"),
                height: 350,
                width: 500,
                title: "修改"
            });

            $("#btnModifyCancel").click(function () {
                window.modifyWin.hide();
            });

            formPost("#frmModify", false, function () {
                var objectId = $("#winModify").data("objectId");
                var username = $("#txtModifyUsername").val();
				var password = $("#txtModifyPassword").val();
				var point = $("#txtModifyPoint").val();
				var registerip = $("#txtModifyRegisterip").val();
				var loginip = $("#txtModifyLoginip").val();
				var devicetoken = $("#txtModifyDevicetoken").val();
				var lastlogintime = $("#txtModifyLastlogintime").val();
				var registertime = $("#txtModifyRegistertime").val();
				var parms = { objectId: objectId,username: username,password: password,point: point,registerip: registerip,
				loginip: loginip,devicetoken: devicetoken, lastlogintime: lastlogintime, registertime: registertime };
                $.post(UrlModifyChannelModule, { data: parms }, function (e) {
                    if (e.result) {
                        $("#grid").ligerGrid().reload();
                        window.modifyWin.hide();
                    } else {
                        alert(e.msg);
                    }
                });
            });

        } else {
            window.modifyWin.show();
        }
    }
</script>

<div id="search">
<table width="550px">
    <tr class="search-tr">
        <td width="15px"></td>
        <td class="search-td">用户名称：<input type="text" name="txtSelect" id="txtSelect" class="k-text-bg k-text-field" /></td>
        <td>&nbsp;&nbsp;<input class="liger-button" id="btnSelect" type="button" value="查询" onclick="search()" /></td>
    </tr>
</table>
</div>
<div id="grid"></div>

<div id="winModify" style="display: none;">
<form action="" method="post" id="frmModify">
    <table class="tb" style="height: 200px;">
        <tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyUsername" id="txtModifyUsername" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyPassword" id="txtModifyPassword" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyPoint" id="txtModifyPoint" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyRegisterip" id="txtModifyRegisterip" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyLoginip" id="txtModifyLoginip" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyDevicetoken" id="txtModifyDevicetoken" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyLastlogintime" id="txtModifyLastlogintime" class="required k-text-bg k-text-field" /></td>
        </tr>
		<tr class="tr">
            <td class="td">平台名称：</td>
            <td align="left" class="inputd"><input type="text" name="txtModifyRegistertime" id="txtModifyRegistertime" class="required k-text-bg k-text-field" /></td>
        </tr>
        <tr class="tr">
            <td colspan="2">
                <button type="submit" id="btnModifyConfirm" class="liger-button m_7td">确定</button>
                <button type="button" id="btnModifyCancel" class="liger-button m_7td">取消</button>
            </td>
        </tr>
    </table>
</form>
</div>

<%include footer.ejs%>